<div class="circle2"></div>
<div class="container1">
<div class="container">
  <div class="header-container">
    <span><h3>Hello my name is NGOUYAMSA RABIA</h3></span>
  </div>
  <div>
    <span style="color: #c0c0c0;">
      <p>Etudiante à l'institut universitaire Saint Jean dans le cadre de ma formation d'ingénieur de conception. Je suis actuellement en
        quatrième année, filière ISI.
      </p>
    </span>
  </div>
</div>
</div>
<div class="circle1"></div>

  <div class="card highlight-card card-small">
    <span>{{ title }} Mon application angular</span>
  </div>


<router-outlet></router-outlet>
